/*!
 * Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/template-overviews/thumbnail-gallery)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-thumbnail-gallery/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.padding-footer {
	padding-bottom: 1.7rem;
    padding-top: 1.7rem;
}